button#new-account-link {
    display: none;
}

.login-modal #login-form+#login-buttons {
    display: none;
}

#ember167 {
    background-color: grey !important;
}

button#login-button {
    margin-left: 50px;
}
